/* Put this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif, Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.nav-item {
    justify-content: flex-end;
    display: flex;
}

.nav-link {
    width: auto;
    font-size: 1.5rem;
}

.img-fluid-w-100 {
    object-fit: cover;
    height: 100vh;
}

.text-section {
    padding: 1rem;
}

.justified {
    text-align: justify;
}

.small-text {
    font-size: 8px;
}

.bold-heading {
    font-weight: bold;
    margin-top: 1rem;
}

.list-item {
    /* Styles for list items if needed */
}

.horizontal-line {
    border-bottom: 0.2rem solid black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* Custom CSS */
.border-text {
    color: black; /* Make the text color black */
    font-weight: bold; /* Make the text bold */
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff; /* Create a white border effect */
}

.active-link {
    text-decoration: underline;
}

.video-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 0; /* Collapse the container */
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}





