/* Put this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif, Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.nav-item {
    justify-content: flex-end;
    display: flex;
}

.nav-link {
    width: auto;
    font-size: 1.2rem;
}

.img-fluid-w-100 {
    object-fit: cover;
    height: 100vh;
}

.text-section {
    padding: 1rem;
}

.justified {
    text-align: justify;
}

.small-text {
    font-size: 8px;
}

.bold-heading {
    font-weight: bold;
    margin-top: 1rem;
}

.list-item {
    /* Styles for list items if needed */
}

.horizontal-line {
    border-bottom: 0.2rem solid black;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.active-link {
    text-decoration: underline;
}

.video-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 0; /* Collapse the container */
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand img {
    max-height: 6rem;
}

@media (max-width: 992px) {
    .navbar-brand img {
        max-height: 4rem;
    }
}

@media (max-width: 992px) {
    .custom-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: block;
        z-index: 10;
    }

    .overlay-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .overlay-content {
        text-align: center;
    }

    .nav-links-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70%;
    }

    .nav-link {
        display: block;
        margin: 10px 0;
    }

    .close-button {
        background: none;
        border: none;
        color: inherit;
        font-size: 2rem;
    }
}


@media (max-width: 992px) {
    .navbar-nav-desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-toggler, .custom-overlay {
        display: none;
    }
}

.navbar-toggler {
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.language-switcher.text-dark .btn-link,
.language-switcher.text-dark .divider {
    color: black;
}

@media (min-width: 768px) {
    .language-switcher {
        margin-left: 20px;
    }
}
.language-switcher.text-white .btn-link,
.language-switcher.text-white .divider {
    color: white;
    margin-left: 10px;
}

.language-switcher .btn-link {
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-decoration: none;
}

.language-switcher .divider {
    vertical-align: middle;
}






